<div id="navbar">
  <ul class="nav navbar-nav navbar-right">
  <li><a class="navbar-brand" href="/">Recipe Home Page</a></li>
    <li><%= link_to "Recipe", lists_path %></li>
      <% if !current_user %>

        <li style="float:right"><%= link_to 'Login', login_path, method: 'get' %></li>

        <li style="float:right"><%= link_to 'Sign Up', signup_path, method: 'get' %></li>

      <% else %>

        <li style="float:right"><%= link_to 'Logout', logout_path, method: 'post' %></li>
      <% end %>
      </li>
    </ul>
  </div>
</nav>